@import "../../styles/kingo-fonts.less";

.vip_card {
    width: 100%;
    background-color: #1a1a1a;
    color: #fff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.vip_card_bg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    z-index: -1;
    display: flex;
}

/* Background logo watermark */
.circle_1 {
    width: 800px;
    height: 800px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

.circle_2 {
    width: 800px;
    height: 800px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

.vip_card_header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.vip_logo_expire_date_wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.logo_letter {
    color: #bf89f5;
    font-style: italic;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: "Kingo";
}

.expire_date {
    color: #ccc;
    font-size: 24px;
}

.vip_card_footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.vip_card_remaining_text {
    color: #ccc;
    font-size: 24px;
}

.vip_card_remaining_days {
    color: #bf89f5;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 100%;
    font-family: "Kingo";
}

.vip_card_type {
    position: absolute;
    top: 36px;
    right: 0;
    width: 100px;
    background-color: #ffffff71;
    padding: 12px 12px 12px 24px;
    border-radius: 1000px 0 0 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vip_card_type_text {
    color: #fff;
    font-size: 24px;
    line-height: 100%;
}